/* variables de colores y letras  */
:root{
   --beige-white: #F6F1F1;
   --celeste: #AFD3E2;
   --blue-sky: #19A7CE;
   --blue-navy: #146C94;
}
body{
   font-family: 'Source Code Pro', monospace;
}

/* estilos generales */
section{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.seccion-titulo{
   font-size: 2rem;
   padding: 15px 0;
   font-weight: bold;
}
.seccion-descripcion{
   font-size: 1.2rem;
   color: grey;
}
.seccion-texto{
   font-size: 1.2rem;
   font-weight: 200;
}
.seccion-oscura {
   background-color: black;
   color: white;
}
.seccion-clara{
   background-color: var(--beige-white);
   color: black;
}
/* barra de navegacion */
.navbar-brand img{
   width: 35px;
}

.navbar {
   padding: 20px;
   background-color: var(--celeste);
   border-bottom: 2px solid black;
}

.navbar-collapse {
   align-items: center;
   justify-content: space-between;
}

/* hero */
.hero {
   align-items: stretch;
   background-color: var(--beige-white);
   min-height: 450px;
   text-align: center;

}
.hero-principal h1{
   font-size: 2.5rem;

}
.hero img{
   width: 50px;
}
.hero-principal{
   padding: 3rem;
   font-weight: bold;
}
.hero-principal h2{
   font-size: 1.5rem;
}
.hero-inferior img{
   width: 500px;
}

/* sobre mi  */
.about-me{
   height: 500px;
   padding: 2rem;
   text-align: center;
}
.about-me .contenedor{
   max-width: 600px;
}

/* experciencia */
.experiencia{
   padding: 2.5rem 2.5rem 3.75rem 2.5rem;

}
.experiencia .row .col-12{
   border: 3px solid var(--blue-navy);
   margin: 1rem;
   padding: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 21.25rem;
}
.container .row{
   justify-content: center;
}
.experiencia .row div p:nth-child(2){
   font-size: 1.5625rem;    
   margin: 24px 0 10px 0;
   font-weight: bold;
}
.experiencia i{
   font-size: 3rem;
   color: rgb(0, 198, 0) ;
   background-color: black;
   padding: 8px 19px;
   border-radius: 50%;
}
.badges-contenedor{
   font-size: 25px;
   font-weight: bold;
   margin: 10px 0;
}
.badge{
   margin: 0.3125rem;
   background-color: var(--blue-sky);
}
.experiencia .row .col-12:hover{
   background-color: black;
   color: white;
}

/* proyectos */
.proyectos-recientes{
   padding: 2rem;
   color: black;
}
.proyectos-recientes img{
   height: 100%;
   width: 100%;
   padding: 10px;
   border-radius: 10px;
   display: block;
   transition: all 0.2s ease;
}
.proyectos-contenedor{
   padding-top: 60px;
   margin-bottom: 40px;
}
.overlay{
   transition: all 0.2s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}
.overlay p{
   font-size: 25px;
   font-weight: bold;
   margin-bottom: 0;
}
.proyecto {
   position: relative;
}

.proyecto:hover img {
   opacity: 0.2;
}

.proyecto:hover .overlay {
   opacity: 1;
}
.overlay .iconos-contenedor{
   display: flex;
}
.overlay i{
   color: black;
   font-size: 60px;
   margin: 10px;
}
/* responsive */
@media screen and (max-width: 768px) {
   .navbar-brand {
      display: none;
   }  
   .experiencia .row .col-12 {
      width: auto;   
   }
}